<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<main>
 <p>Title:<%= @book.title %></p>
 <p>Body:<%= @book.body %></p>

 <!-- Editで編集ページへ -->
 <%= link_to "Edit", edit_book_path(@book) %>
 <!-- Backでindexへ戻る -->
      <%= link_to "Back", books_path %>
</main>